/* 전체선택자 */
*{}

/* 요소선택자 */
body{}

/* class 선택자 */
.box{
  border:1px solid red;
}

/* id 선택자 */
/* #box{} */

/* 속성 선택자 */
/* [title]{} */

/* 가상 요소 선택자 */
.box::before{
  content:'첫 번째 자식 요소';
  background:lime;
  width:120px;
  inline-size:120px;
  display:block;
}
.box::after{
  content:'마지막 자식 요소';
  background:yellow;
  width:120px;
  inline-size:120px;
  display:block;
}