@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --containter-size: 940px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.header, 
.visual, 
.main, 
.slogan, 
.footer{
  width:var(--containter-size, 940px);
  margin:0 auto;
}

/* 헤더 */
.header{
  background-color:yellow;
  
}

/* 비주얼 */
.visual{
  background-color:pink;
  
}

/* main */
.main{
  background-color:skyblue;
  
}

/* slogan */
.slogan{
  background-color:lime;
  
}

/* footer */
.footer{
  background-color:orange;
  
}