@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --containter-size: 940px;
}


body {
    font-family: "Noto Sans KR", sans-serif;
}

.header, 
.visual, 
.main, 
.slogan, 
.footer-inner{
  width:var(--containter-size, 940px);
  margin:0 auto;
}

/* 헤더 */
.header{
  background-color:yellow;
  height:10vh;
  padding:0 50px;
  
}

/* 비주얼 */
.visual{
  background-color:pink;
  height:10vh;
  
}

/* main */
.main{
  background-color:skyblue;
  /* height:60vh; */
  display:flow-root;
  min-height:450px;
}

.group{
  border:1px solid red;
}

.group1{
 width:250px;
 float:left;
}

.group2{
  width:380px;
  float:left;
 }

 .group3{
  width:190px;
  float:left;
 }

/* slogan */
.slogan{
  background-color:rgb(160, 235, 160);
  height:10vh;
  
}

/* footer */
.footer{
  background-color:orange;
  
}

.footer-inner{
  background-color:yellow;
  height:10vh;
}