@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --containter-size: 940px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.header, 
.visual, 
.main, 
.slogan, 
.footer-inner{
  width:var(--containter-size, 940px);
  margin:0 auto;
}

/* 헤더 */
.header{
  background-color:yellow;
  height:10vh;
  padding:0 50px;
  
}

/* 비주얼 */
.visual{
  background-color:pink;
  height:10vh;
  
}

/* main */
.main{
  background-color:skyblue;
  height:60vh;
  display:flex;
  flex-flow:row / nowrap;/* flex-direction, flex-wrap 속성의 단축 속성 */
  justify-content: flex-start; /*  메인축 */
  align-items: stretch ; /* 교차축 */
  /* 위에 flex-flow 에서 direction 를 어느 방향으로 했느냐에 따라서 메인축과 교차축이 바뀜 */
}

.group{
  border:1px solid red;
}
/* slogan */
.slogan{
  background-color:lime;
  height:10vh;
  
}

/* footer */
.footer{
  background-color:orange;
  
}

.footer-inner{
  background-color:yellow;
  height:10vh;
}